
body {
    background-color: white;
    overflow: scroll;
}


.link {
    text-decoration: none;
    color: #0B0B0B;
}

.link:hover{
    color: #2b00ff;
    transition: 0.5s;   
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0rem 0rem;
    height: 100vh;

}

.header{
    margin: 0rem 0rem 0rem 0rem;
    font-family: oracle;
    font-size: 7rem;
}

.image {
    height: auto;
    width: 40%;
}


.description {
    font-family: oracle;
    font-size: 14px;
    max-width: 15rem;
}

.subheader {
    font-family: oracle-bold;
    text-decoration: underline;
}

.text-section {
    padding: 1rem 0rem;
}

.information {
    margin: 2rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
    font-family: oracle;
    font-size: 14px;
    max-width: 15rem;
}









