@media (min-width: 768px) {

    body {
        background-color: white;
        overflow: hidden;
        color: #0B0B0B;
    }

    @keyframes fade-down {
        0% {
            opacity: 0;
            transform: translateY(-20px) scale(1);
        }

        100% {
            opacity: 1;
            transform: translateY(0px) scale(1);
        }

    }






    .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10rem 0rem;
        height: 100vh;

    }

    .link {
        text-decoration: none;
        color: #0B0B0B;
    }

    .link:hover{
        color: #2b00ff;
        transition: 0.5s;   
    }

    .header{
        margin: -6rem 0rem 0rem 0rem;
        font-family: oracle;
        font-size: 7rem;
        position: absolute;
    }

    .image {

        height: 40rem;
        width: auto;
    }


    .description {
        font-family: oracle;
        font-size: 14px;
        max-width: 15rem;

    }

    .subheader {
        font-family: oracle-bold;
        text-decoration: underline;

    }

    .text-section {
        animation: fade-down 0.9s;
        padding: 1rem 0rem;
    }

    .information {

        margin: 0rem 0rem 0rem 0rem;
        padding: 0rem 0rem 0rem 1rem;
        font-family: oracle;
        font-size: 14px;
        max-width: 15rem;
    }













}